/* ==========================================================================
   #GLOBAL STYLES
   ========================================================================== */

/**
 * Styles here are applied across the entire website / application
 */

@import './includes';

@import './libs/reset';

@import './grid/build';

@include build-grid();

* { box-sizing: border-box; }

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
    line-height: $base-line-height;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: $min-width;
    padding-left: column-padding();
    padding-right: column-padding();
    width: 100%;

    @if $snap-to-breakpoints == true {
        @include breakpoint(medium) { width: map-get($breakpoints, medium); }
        @include breakpoint(large) { width: map-get($breakpoints, large); }
        @include breakpoint(x-large) { width: map-get($breakpoints, x-large); }
        @include breakpoint(max) { width: map-get($breakpoints, max); }
    } @else {
        max-width: map-get($breakpoints, max);
    }
}
