@import './grid';
@import '~styles/functions/unit-conversion';

$breakpoints: (
    zero: 0,
    x-small: 25em,
    small: 37.5em,
    medium: 50em,
    large: 64em,
    x-large: 70em,
    max: pxtoem($max-width)
);
