@import '../config/breakpoints';
@import '../mixins/breakpoint';
@import './functions';
@import './mixins';

@mixin build-columns($size: '') {
    @for $col-num from 1 through $grid-column-count {
        .column-#{$size}#{$col-num} {
            @include column($col-num);

            // @if $col-num == 12 {
            //     margin-bottom: ($grid-gutter / 2);

            //     &:last-child { margin-bottom: 0; }
            // }
        }
    }
}

// This will build a tonne of classes that you can then put on DOM elements
// which will change width at the defined breakpoints.
// WARNING: This will add hundreds of lines of CSS to your output file
@mixin build-grid() {
    [class^='column-'] {
        float: left;
        min-height: 1px;
        position: relative;
    }

    .row { @include row(); }

    // Build classes without extensions, old versions of IE don't support
    // media queries
    @include build-columns();

    // Build each version of the column for each breakpoint
    @each $point-name, $point-value in $breakpoints {
        @include breakpoint($point-name) {
            @include build-columns(-#{$point-name});
        }
    }
}
